body{

    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #32E383, #263238)
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 20px;
}

.personagens{
    width: 240px;
    height: 172px;
}

.episodios{
    width: 240px;
    height: 172px; 
}

.citacoes{
    width: 240px;
    height: 172px;    
}

.criaturas{
    width: 240px;
    height: 172px;    
}