body{

    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #32E383, #263238)
}

.container{
    height: 460px;
    width: 580px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
}

.personagens{
    width: 240px;
    height: 172px;
    border-radius: 30px;
}

.episodios{
    width: 240px;
    height: 172px; 
    border-radius: 30px;
}

.citacoes{
    width: 240px;
    height: 172px;
    border-radius: 30px;    
}

.criaturas{
    width: 240px;
    height: 172px;
    border-radius: 30px;    
}