@media screen and (max-width: 768px){
    .container-perfil {
        width: 100%;
        flex-direction: column;
    }
    
}

body{
    background: linear-gradient(252deg, rgba(50, 227, 131, 0.38) 0%, rgba(50, 227, 131, 0.00) 100%), #263238;
}

header{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.logo img{
    width: 265px;
    height: 115px;
    top: 9px;
    left: 80px;
    flex-shrink: 0;
}

.menu {
    margin: 60px auto 60px;
}

.botoes button{
    height: 64px;
    width: 265px;
    border-radius: 30px;
    background-color: #4BB257;
    margin-top: 10px;
}

.container-perfil{
    display: flex;
    gap: 1rem;
}

.box-perfil{
    display: flex;
    width: 1374px;
    height: 861px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #263238;
    box-shadow: -1px 5px 10px 0px #000;
    margin: 30px 4% 4%;
}

.perfil {
    background: #ffff;
    display: flex;
    width: 260px;
    height: 260px;
    border-radius: 20px;
    margin: 40px;
}
.nome {
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 120% 210px;
    font: 700;
}

.conquistas {
    width: 482px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    backdrop-filter: blur(20px);
    margin: 400px 15% 5rem -46rem;
}

.conquistas-name {
    font-weight: 700;
    font-size: 25px;
    font-family: Poppins;
    margin: -3rem 5px 1rem;
    color: #FFF;
}

.conquistas-icones{
    margin: 35px;   
}

.conquistas-icones img a {
    padding: 10px;
}