body{
    display: block;
    background: linear-gradient(45deg, #32E383, #263238);
}

header{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 30px;
}

.logo img{
    width: 265px;
    height: 115px;
}

.start button{
    height: 60px;
    width: 220px;
    border-radius: 30px;
    background-color: #4BB257;
}

.menu{
    display: grid;
    justify-content: center;
}

.botoes button{
    height: 64px;
    width: 265px;
    border-radius: 30px;
    background-color: #4BB257;    
}

.container-perfil {
    display: flex;
    height: 861px;
}

.perfil{
    display: flex;
    align-items: center;
    background-color: #263238;
    border-radius: 30px;
    padding: 30px;
}

.conquistas{
    display: flex;
    align-content: center;
    height: 366px;
    width: 482px;
    background-color: white;
}

.conquistas-img img{
    height: 100px;
    width: 100px;    
}

.destaques{
    display: flex;
}

.episodios-img {
    display: flex;
}
